<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          <%= form.label :name %><br>
          <%= form.text_field :name %>
        </p>

        <p>
          <%= form.label :username %><br>
          <%= form.text_field :username %>
        </p>

        <p>
          <%= form.label :email %><br>
          <%= form.text_field :email %>
        </p>
        <p>
          <%= form.label :password %><br>
          <%= form.password_field :password %>
        </p>

        <p>
          <%= form.label :profile_picture %>
          <%= form.file_field :profile_picture, class: "form-control-file" %>
        </p>

        <p>
          <%= form.label :biography %><br>
          <%= form.text_area :biography %>
        </p>
        <p>
          <%= form.label :location %><br>
          <%= form.text_field :location %>
        </p>

        <p>
          System admin?
        </p>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
