<p>
  Bienvenido <%= @user.first_name %> <%= @user.last_name %> | <%= link_to 'Edit profile', edit_user_path(@user) %>
</p>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>My events</h2>
      <% @user.events.each do |event| %>
        <p>
          <%= event.title %> <%= link_to 'Show', user_event_path(@user, @event) %>
        </p>
      <% end %>

      <p>
        <%= render 'events/form' %>
      </p>
    </div>
    <div class="col">
      <h2>Other events</h2>
    </div>
  </div>
</div>



<p>
  <%= link_to 'Back', users_path %>
</p>
