<%= form_with model: @event, local: true do |form| %>
  <h3>Create event</h3>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :select_manual %>
    <%= form.check_box :select_manual %>
  </p>
  <p>
    <%= form.label :final_date %><br>
    <%= date_field(:event, :final_date) %>
  </p>

  <div class="form-group">
    <%= form.submit class: ["btn", "btn-primary"] %>
    <%= link_to "Back", users_path, class: ["btn", "btn-secondary"] %>
  </div>

<% end %>