<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>CourseProjectAlejandraizquierdoSantiagofigueroamc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
=======
  <head>
    <title>CourseProjectAlejandraizquierdoSantiagofigueroamc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
>>>>>>> 0e97edcb26debf12044f118baf1d1528a3a857b1
</html>
